{{#each .~}}
    <span class="claimant-image-container">
        <img class="claimant-image {{#if winner}}winner{{/if}}" area-label="{{name}}" src="{{img}}" data-claimant-uuid="{{uuid}}"/>
        <!--
        <span class="looted-quantity">
            5
        </span>
        -->
    </span>
{{~/each}}