table.simple-loot-sheet-table tr :first-child {
    /*width: 100%;*/
    background-color: sienna;
}

table.simple-loot-sheet-table .item-name .item-image {
    width: 36px;
    height: 36px;
}

.player-claims {
    background-color: aqua;
    min-width: 32px;
    min-height: 32px;
    width: 100%;
    height: 100%;
}
.player-claims[data-claim-type="need"] {
    background-color: red;
}
