:root {
    --simple-loot-sheet-img-size: 36px;
}

.simple-loot-sheet-table tr {
    height: var(--simple-loot-sheet-img-size);
    min-height: var(--simple-loot-sheet-img-size);
    max-height: var(--simple-loot-sheet-img-size);
}

/* All non-first columns in the table.  (td that must be following a td, both children of a table.<class>. */
.simple-loot-sheet-table td + td {
    border-left: 1px solid var(--color-border-dark-primary);
}

/*
This still lets the table contents slide up above the table, visible above the header.
.simple-loot-sheet-table tr:first-of-type th {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 1); // normally uses black at 0.05 alpha; have to find a suitable color
}
*/

.simple-loot-sheet-table td {
    text-align: left;
    vertical-align: middle;
    width: 33%;
}
.simple-loot-sheet-table td > * {
    min-height: var(--simple-loot-sheet-img-size);
    vertical-align: middle;
}

.simple-loot-sheet-table img {
    border-style: none;
}

.simple-loot-sheet-table .player-claims {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.simple-loot-sheet-table .player-claims * {
    margin: 0 auto;
}

.simple-loot-sheet-table .looted {
    /* future: don't hide, but show winner of loot instead
    display: none; 
    */
    opacity: 0.35;
}
.simple-loot-sheet-table .claimant-image.winner {
    background-color: turquoise;
    border-radius: 5px;
}

.simple-loot-sheet-table .claimant-image,
.simple-loot-sheet-table .item-image {
    width: var(--simple-loot-sheet-img-size);
    height: var(--simple-loot-sheet-img-size);
    min-width: var(--simple-loot-sheet-img-size);
    min-height: var(--simple-loot-sheet-img-size);
    max-width: var(--simple-loot-sheet-img-size);
    max-height: var(--simple-loot-sheet-img-size);
    background-size: var(--simple-loot-sheet-img-size);
    vertical-align: middle;
    align-self: center;
}

.simple-loot-sheet-table .item-brief > element {
    margin-right: 1em;
}
.simple-loot-sheet-table .item-brief div {
    display: inline;
    min-height: var(--simple-loot-sheet-img-size);
}
.simple-loot-sheet-table .item-brief .item-name {
    height: 100%;
    vertical-align: middle;
}

.player-claims {
}
.player-claims[data-claim-type="need"] {
}
