table.simple-loot-sheet-table .tr {
    height: 36px;
    max-height: 36px;
}

table.simple-loot-sheet-table .item-name {
    width: 100%;
}

table.simple-loot-sheet-table .item-name .item-image {
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    background-size: 36px;
}

table.simple-loot-sheet-table .claimant-image {
    height: 36px;
    max-width: 36px;
    max-height: 36px;
}

.player-claims {
    background-color: aqua;
    min-width: 32px;
}
.player-claims[data-claim-type="need"] {
    background-color: red;
}
